

.image{
    height:350px;
    width: 250px;
    border-radius: 20px;
    max-width: 100%;
    height: auto;

}

p{
    color: white;}

.i1{
    margin: 10% 0 0 75%  ;
    box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
   
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color:grey;
    border-width: 5px;
    margin-top: 110px;
}

h1{
    color: #152c2c;
}

.d3{
    margin: 0.5% 0% 0% 0%;
  
    position: absolute;
    right: 400px;
    top: 200px;
}





.t1{
    margin-left: 40%;
    margin-top: 50px;
    padding-right: 30px;
}

.end-footer{
    background-color: black;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40%;
    margin-top: 0px;
}

.footer-para{
    color: white;
    margin: auto;
    line-height: 1.5;
}

.p1{
    line-height: 2;
}

.second-page-1{
    padding-left: 50px;
    margin: 100px 0px;
    line-height: 2;
    display: inline-block;
}

.second-page-2{
    padding-left: 750px;
    line-height: 2;
    display: inline-block;

}




.iete{
    border: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;;
    height:250px;
    width:150px;
    object-fit: cover;
    

}

.litsoc{
    border: 2px solid powderblue;
    height:250px;
    width: 150px;
    object-fit: cover;
}



.jvm{
    border: 2px solid powderblue;
    height: 250px;
    object-fit: cover;
}

.bit{
    border: 2px solid powderblue;
    height: 250px;
    object-fit: cover;

}



a:hover{
    color: #EAF6F6;
}

.l1{
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;

  }
  
  .l1 li {
    background-color: aliceblue;
    float: left;
  }
  
  li a {
    
    padding: 8px;
    background-color: #dddddd;
  }

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8{
    position:relative;
    margin: 0;
    background: linear-gradient(90deg,#7eaaff,#ff48fb 40%,#00000047 60%);
}

.t1{
    margin-bottom: 50px;
    margin-top: 100px;
    width: 450px;
    margin-left: 700px;

}

.skills-para{
    font-size: 25px;
}


h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  div.polaroid {
    transition: width 2s, height 2s, transform 2s;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 30px;
  }

  .polaroid:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }
  
  div.container {
    padding: 10px;
  }

  .btn-group .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }

  .btn-group{
    position: fixed;
  }

  .button-div{
    position: absolute;
    margin: 0 auto;
    padding: 0;
  }

  .resume-button{
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 50px;
    animation: wiggle 2s linear infinite;
  }

  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
.resume-button:hover {
    background-color: #3e8e41

}

.resume-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body{
    margin: 0;
    border-top: 0;
    padding-top: 0;
    background-image: linear-gradient(90deg,#020024, #218595);
}